<!--<div class="container">-->
  <div class="form-header">
    <h1>Sign up</h1>
  </div>
  <div class="form-error">        
   <% @user.errors.full_messages.each do |message| %>
    ＊<%= message %>＊<br>
     <% end %>
  </div>
 
    
  <div class="form-container">
    <ul>
      <li>  
        <%= form_for (@user) do |f| %>
          <p><%= f.label :name,"名前(10文字以下)" %></p>
        <%= f.text_field :name, class:'form_control' %>
      </li>
      <li>
        <p><%= f.label :password,"パスワード(4文字以上8文字以下)" %></p>
        <%= f.password_field :password, class: 'form_control' %>
      </li>
    </ul>

  <p>下記から興味のあるジャンルを一つ以上お選びください</p>
  <div class="check_box">
      <%= hidden_field_tag 'user[like]' %>
          <%= f.check_box :like_life_id %>
          生活
          <%= f.check_box :like_it_id %>
          IT
          <%= f.check_box :like_area_id %>
          地域
          <%= f.check_box :like_science_id %>
          科学
          <%= f.check_box :like_sports_id %>
          スポーツ
          <%= f.check_box :like_entertainment_id %>
          エンタメ
          <%= f.check_box :like_economy_id %>
          経済
        </div>
    
      <p class="form-button"><%= f.submit "新規登録" , class: 'button-1' %></p>
   <% end %>
  </div>
<!--</div>-->