<!--<div class="container">-->
  <div class="form-header">
    <h1>Sign up</h1>
  </div>
  <div class="form-error">        
   <% @user.errors.full_messages.each do |message| %>
    ＊<%= message %>＊<br>
     <% end %>
  </div>
 
    
  <div class="form-container">
    <ul>
      <li>  
        <%= form_for (@user) do |f| %>
          <p><%= f.label :name,"名前(10文字以下)" %></p>
        <%= f.text_field :name, class:'form_control' %>
      </li>
      <li>
        <p><%= f.label :password,"パスワード(4文字以上8文字以下)" %></p>
        <%= f.password_field :password, class: 'form_control' %>
      </li>
    </ul>

  <p>下記から興味のあるジャンルを一つ以上お選びください</p>
  
    
      <p class="form-button"><%= f.submit "新規登録" , class: 'button-1' %></p>
   <% end %>
  </div>
<!--</div>-->